/* variables */

/* $primary-color:              #7971EA !default;
$primary-states-color:       darken($primary-color, 10%) !default; */

.fc {
    font-size: .8em;
}

.fc .fc-toolbar-title {
    font-size: 1em;
    margin: 0;
}

@media (min-width:1024px) {
    .fc {
        font-size: 1em;
    }
    .fc .fc-toolbar-title {
        font-size: 1.5em;
        margin: 0;
    }
}

.fc .fc-button-primary {
    border-color: #7971EA;
    background-color: #7971EA;
    font-size: 14px;
    padding: 4px 6px;
}

.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
    border-color: #7971EA;
    background-color: #7971EA;
    outline: none;
}

.fc .fc-button-primary:hover, .fc .fc-button-primary:focus {
    border-color: #6961d1;
    background-color: #6961d1;
    outline: none;
    cursor: pointer;
}

.fc .fc-button-primary:disabled {
    background-color: #a6a1f0;
    border-color: #a6a1f0;
}

.fc-h-event {
    border: 1px solid #7971EA;
    background-color: #7971EA;
}

.fc-h-event:hover {
    cursor: pointer;
}