/* variables */
:root {
    --primary-color: #7971EA !important;
    --primary-states-color: #6861d3 !important;
    --secondary-color: #999999 !important;
    --secondary-states-color: #6d6d6d !important;
}

.fc {
    font-size: .8em;
}

.fc .fc-toolbar-title {
    font-size: 1em;
    margin: 0;
}

@media (min-width:1024px) {
    .fc {
        font-size: 1em;
    }
    .fc .fc-toolbar-title {
        font-size: 1.5em;
        margin: 0;
    }
}

.fc .fc-button-primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    font-size: 14px;
    padding: 4px 6px;
}

.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    outline: none;
}

.fc .fc-button-primary:hover, .fc .fc-button-primary:focus {
    border-color: var(--primary-states-color);
    background-color: var(--primary-states-color);
    outline: none;
    cursor: pointer;
}

.fc .fc-button-primary:disabled {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.fc-h-event {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.fc-h-event:hover {
    cursor: pointer;
}

/* Swall button custom */
.swal2-styled.swal2-confirm {
    background-color: var(--primary-color);
    font-size: .9em;
}