.menu-wrapper {
    @apply overflow-hidden max-w-full cursor-pointer;
}

.menu-wrapper .hamburger-menu {
    @apply relative w-6 h-6 m-1;
}

.menu-wrapper .hamburger-menu span {
    @apply absolute right-0 block w-full h-1 rounded text-gray-800 bg-gray-800 duration-700 transform transition-all rotate-0 ease-in-out;
}

.menu-wrapper .hamburger-menu span:nth-child(1) {
    @apply absolute right-0 block w-4 h-1 rounded text-gray-800 bg-gray-800 duration-700 transform transition-all rotate-0 ease-in-out;
}

.menu-wrapper .hamburger-menu span:nth-child(1) {
    @apply top-0
}

.menu-wrapper .hamburger-menu span:nth-child(2) {
    @apply top-2
}

.menu-wrapper .hamburger-menu span:nth-child(3) {
    @apply top-4
}

.menu-wrapper .hamburger-menu.open span:nth-child(1) {
    @apply w-full;
    transform: translateY(8px) rotate(135deg);
}

.menu-wrapper .hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
}

.menu-wrapper .hamburger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-135deg);
}